<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xxun.watch.xunpet">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.xxun.watch.xunpet.XunPetApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/xunpet_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppDefaultTheme">
        <activity
            android:name="com.xxun.watch.xunpet.activity.XunPetMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xxun.watch.xunpet.activity.XunPetAdoptActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.xxun.watch.xunpet.activity.XunPetResetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.xxun.watch.xunpet.activity.XunPetFeedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.xxun.watch.xunpet.activity.XunPetRankActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.xxun.watch.xunpet.test.RecordsoundTestACtivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name="com.xxun.watch.xunpet.service.XunPetService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="com.xiaoxun.sdk.service.XiaoXunNetService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>
